.card {
    border-color: #330033;
    background-color: #ccccff;
    height:90%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.img1{ 
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    justify-content: center;
    align-items: center;
    
}