
ul {
    display: flex;
    float: left;
     list-style: none;
     flex-wrap: wrap;
     flex-basis: 33.333333%
}

li {
    padding-left: 5px;
    padding-right: 5px;
    padding-top:20px;
    height:500px;
    width:450px;
    justify-content: center;
    align-items: center;
}